<form class="blog-new-form container" [formGroup]="blogForm" (ngSubmit)="onSubmit()">
    <h1 class="blog-new-form-title">{{ formTitle() }}</h1>

    <label class="blog-new-form-input-title-label blog-new-form-label" for="blog-new-title">Заголовок</label>
    <input 
        class="blog-new-form-input-title blog-new-form-input"
        id="blog-new-title"
        type="text"
        placeholder="Заголовок статьи"
        formControlName="title"
    />

    @if(title.touched && title.invalid) {
        @if(title.errors?.['required']) {
            <p class="input-error">- обязательное поле</p>
        } @else if (title.errors?.['minlength']; as err) {
            <p class="input-error">
                - минимум {{ err.requiredLength }} символов (сейчас {{ err.actualLength }})
            </p>
        }
    }

    <label class="blog-new-form-textarea-label blog-new-form-label" for="blog-new-textarea">Текст статьи</label>
    <textarea 
        class="blog-new-form-textarea blog-new-form-input" 
        id="blog-new-textarea"
        placeholder="Текст статьи"
        rows="5"
        formControlName="text"
    ></textarea>

    @if(text.touched && text.invalid) {
        @if(text.errors?.['required']) {
            <p class="input-error">- обязательное поле</p>
        } @else if (text.errors?.['minlength']; as err) {
            <p class="input-error">
                - минимум {{ err.requiredLength }} символов (сейчас {{ err.actualLength }})
            </p>
        }
    }

    <div class="blog-new-form-buttons-wrapper">
        <button class="form-new-add-button" type="submit" [disabled]="blogForm.invalid">{{ saveButtonTitle() }}</button>
        <button class="form-new-cancel-button" type="button" (click)="onCancel()">Отмена</button>
    </div>
</form>