:root {
    --color-dark-blue: #323747;
    --color-very-dark-blue: #1E2128;
    --color-dark-gray: #68686A;
    --color-light-gray: #BDC1CA;
    --color-orange: #DB5E31;
    --color-light-orange: #FEF3EF;
    --color-green: #61C15C;
    --color-light-green: #F4FBF4;

    --font-family: 'Inter 18pt', sans-serif;
    --font-weight-regular: 400;
    --font-weight-accent: 700;

    --header-padding-top: 33px;
    --header-height: calc(var(--header-padding-top) + 36px);

    --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color: var(--color-dark-blue);
}

h1 {
  font-weight: var(--font-weight-accent);
  font-size: 52px;
}

h2 {
  font-weight: var(--font-weight-accent);
  font-size: 40px;
}

h3 {
  font-weight: var(--font-weight-accent);
  font-size: 32px;
}

h4 {
  font-weight: var(--font-weight-accent);
  font-size: 24px;
}

button {
  font-family: var(--font-family);
}

input {
  font-family: var(--font-family);
}

.container {
  max-width: 1460px;
  padding-inline: 130px;
  margin-inline: auto;
  padding-top: 105px;
}

.visually-hidden {
  display: none;
}

.about {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  height: calc(100vh - var(--header-height));
  padding-top: 50px;
}

.image-wrapper {
  position: absolute;
  width: 215px;
  aspect-ratio: 1;
  opacity: 0.5;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-duration: var(--transition-duration);
}

.image-wrapper:hover {
  opacity: 1;
}

.about-inner {
  max-width: 600px;
  width: 100%;
}

.title {
  line-height: 1;
}

.about-title:not(:last-child) {
  margin-bottom: 35px;
}

.about-description {
  max-width: 480px;
  width: 100%;
  font-size: 15px;
  line-height: 1.73;
}

.about-description:not(:last-child) {
  margin-bottom: 14px;
}

.about-more-button {
  position: relative;
  width: 130px;
  font-size: 15px;
  line-height: 1.4;
  color: var(--color-green);
}

.about-more-button:hover {
  font-weight: var(--font-weight-accent);
}

.about-more-button::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  background: url('./icons/arrow-to-right.svg') center/contain no-repeat;
  width: 14px;
  height: 21px;
}

.about-more-button:hover::after {
  right: -3%;
}

.about-image-wrapper {
  position: relative;
  flex: 0 1 480px;
}

.about-image {
  display: block;
  width: 100%;
  aspect-ratio: 546 / 655;
  border-radius: 0 0 400px 400px;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.post-item {
  display: flex;
  max-height: 410px;
  height: 100%;
}

.post-item-inner {
  flex: 0 0 40%;
}

.post-item.item-1 .post-item-inner {
  background-color: var(--color-light-orange);
}

.post-item.item-2 .post-item-inner {
  background-color: var(--color-light-green);
}

.post-item-inner-wrapper {
  padding: 63px 50px;
}

.post-item.item-1 .post-label {
  color: var(--color-orange);
}

.post-item.item-2 .post-label {
  color: var(--color-green);
}

.post-label {
  margin-bottom: 8px;
}

.post-title {
  margin-bottom: 16px;
}

.post-description {
  line-height: 1.62;
}

.posts-browse-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  color: var(--color-green);
  font-size: 18px;
  border: 1px solid var(--color-green);
  border-radius: 5px;
  transition-duration: var(--transition-duration);
}

.posts-browse-button:hover {
  background-color: var(--color-light-green);
}

.post-item-image {
  flex: 0 0 60%;
  min-width: 0;
  max-height: 410px;
  height: 100%;
  object-fit: cover;
}

.skills {
  padding-top: 90px;
}

.skills-title:not(:last-child) {
  margin-bottom: 50px;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 36px;
  row-gap: 60px;
}

.skills-list-item {
  position: relative;
  font-size: 24px;
  max-width: 370px;
  width: 100%;
  height: auto;
}

.skills-list-item::after {
  position: absolute;
  left: 0;
  bottom: -50%;
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--color-light-gray);
}

.work {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding-top: 120px;
}

.work-title:not(:last-child) {
  margin-bottom: 12px;
}

.work-description {
  max-width: 570px;
  width: 100%;
  height: auto;
}

.work-description p {
  font-size: 21px;
}

.work-list {
  display: flex;
  flex-direction: column;
  row-gap: 76px;
}

.work-list-item {
  position: relative;
  display: flex;
  max-width: 590px;
  width: 100%;
  max-height: 180px;
  height: 100%;
  padding: 5px;
}

.work-list-item::after {
  position: absolute;
  left: 0;
  bottom: -25%;
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--color-light-gray);
}

.work-list-item img {
  margin-right: 24px;
}

.work-list-item.item-1 img {
  width: 66px;
  height: 60px;
}

.work-list-item.item-2 img {
  width: 75px;
  height: 75px;
}

.work-list-item.item-3 img {
  width: 69px;
  height: 67px;
}

.work-list-item-text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.work-list-item-job-title {
  font-size: 20px;
}

.hobby {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 70px 264px 264px;
  grid-template-areas: 
    "title title description description"
    "vertical-1 vertical-2 horizontal-1 horizontal-1"
    "vertical-1 vertical-2 horizontal-2 horizontal-2";
  row-gap: 25px;
  column-gap: 26px;
  justify-content: center;
  padding-top: 140px;
}

.hobby-title {
  grid-area: title;
  line-height: 1;
}

.hobby-description {
  grid-area: description;
}

.hobby-description p {
  font-size: 21px;
  text-align: center;
}

.hobby img {
  border-radius: 8px;
}

.hobby-vertical-image-1-wrapper {
  grid-area: vertical-1;
  position: relative;
}

.hobby-vertical-image-1 {
  width: 100%;
  height: 100%;
}

.hobby-vertical-image-1-wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  border-radius: 8px;
  transition: background var(--transition-duration);
}

.hobby-vertical-image-1-wrapper:hover::after {
  background: rgba(0, 0, 0, 0.6);
}

.hobby-image-text-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  z-index: 2;
  color: #FFF;
  opacity: 0;
  transition: opacity var(--transition-duration);
}

.hobby-image-title {
  display: block;
  width: 100%;
  font-size: 24px;
  bottom: 110px;
}

.hobby-image-description {
  bottom: 10px;
  padding-inline: 5px;
}

.hobby-vertical-image-1-wrapper:hover .hobby-image-text-container {
  opacity: 1;
}

.hobby-vertical-image-2 {
  grid-area: vertical-2;
  width: 100%;
  height: 100%;
}

.hobby-horizontal-image-1 {
  grid-area: horizontal-1;
  width: 100%;
  height: 264px;
}

.hobby-horizontal-image-2 {
  grid-area: horizontal-2;
  width: 100%;
  height: 264px;
}

.blogs {
  position: relative;
}

.blogs-title:not(:last-child) {
  margin-bottom: 25px;
}

.blogs-description {
  max-width: 790px;
  width: 100%;
  font-size: 20px;
  line-height: 1.4;
}

.blogs-description:not(:last-child) {
  margin-bottom: 50px;
}
/* 
.blog-big-wrapper {
  display: flex;
}

.blog-big-image {
  width: 60%;
  max-height: 453px;
  height: 100%; 
}
 
.blog-big-inner {
  width: 40%;
  padding: 23px 29px 23px 46px;
  background-color: #FAFAFA;
  width: 100%;
}

.blog-big-title {
  line-height: 1.3;
}

.blog-big-title:not(:last-child) {
  margin-bottom: 16px;
}

.blog-big-description {
  font-size: 18px;
}

.blog-big-description:not(:last-child) {
  margin-bottom: 16px;
}
*/



.blogs-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 36px;
  row-gap: 64px;
  padding-top: 65px;
}

.blogs-card-item {
  position: relative;
  min-width: 0;
}

.delete-blog-button {
  position: absolute;
  top: 15px;
  right: 10px;
  display: none;
  border: none;
  background-color: transparent;
  color: var(--color-dark-blue);
}

.delete-blog-button:hover {
  transform: scale(1.1);
}

.blogs-card-item:hover .delete-blog-button {
  display: block;
}

.delete-blog-button svg {
    pointer-events: none;
}

.blogs-card-item-image {
  width: 100%;
  aspect-ratio: 368 / 200;
}

.blogs-card-item-title {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 20px;
}

.blogs-card-item-description {
  margin-bottom: 10px;
}

.blogs-card-item:not(:first-child) .blogs-card-item-description {
  display: none;
}

.blogs-card-item:first-child {
  display: flex;
  flex-direction: row;
  grid-column: span 3;
  background-color: #FAFAFA;
}

.blogs-card-item:first-child .blogs-card-item-text {
  padding: 16px 24px;
}

.blogs-card-item:first-child .blogs-card-item-title {
  font-size: 32px;
  margin-bottom: 16px;
}

.blogs-button {
  position: relative;
  display: block;
  width: 180px;
  height: 50px;
  background-color: inherit;
  color: var(--color-green);
  border: var(--color-green) 1px solid;
  border-radius: 4px;
  margin-top: 60px;
  margin-inline: auto;
  padding: 0;
  padding-right: 15px;
}

.blogs-button::after {
  position: absolute;
  content: '';
  background: url('./icons/arrow_2.svg') center/contain no-repeat;
  width: 27px;
  height: 13px;
  top: 50%;
  transform: translateY(-55%);
  margin-left: 2px;
}

.blogs-button:hover {
  background-color: var(--color-light-green);
}

.blog-new-form {
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.blog-new-form--visible {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: translateY(0);
}

.blog-new-form-title {
  font-size: 32px;
  margin-bottom: 45px;
}

.blog-new-form-label {
  font-size: 18px;
  margin-left: 5px;
}

.blog-new-form-input-title {
  height: 60px;
  margin-bottom: 16px;
}

.blog-new-form-input {
  border: var(--color-dark-blue) 1px solid;
  border-radius: 5px;
  font-size: 18px;
  padding: 17px 20px;
  font-family: var(--font-family);
}

.blog-new-form-textarea {
  margin-bottom: 24px;
}

.blog-new-form-buttons-wrapper {
  display: flex;
  column-gap: 20px;
}

.form-new-button {
  width: 275px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  transition-duration: var(--transition-duration);
}

.form-new-add-button {
  border: none;
  background-color: var(--color-green);
  color: #FFF;
}

.form-new-add-button:hover {
  background-color: var(--color-light-green);
  color: var(--color-green);
  border: var(--color-green) 1px solid;
}

.form-new-cancel-button {
  border: var(--color-green) 1px solid;
  background-color: transparent;
  color: var(--color-green);
}

.form-new-cancel-button:hover {
  background-color: var(--color-light-green);
}

.admin-panel {
  position: fixed;
  right: 0;
  top: 70%;
  width: 50px;
  height: 110px;
  padding: 20px 10px;
  border-radius: 20px 0 0 20px;
  box-shadow: 0px 5px 10px rgba(57, 53, 53, 0.3);
  background-color: #FFF;
}

.admin-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 20px;
}

.admin-buttons-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--color-green);
}

.button-svg {
  transition-duration: var(--transition-duration);
}

.admin-buttons-wrapper button:hover .button-svg {
  transform: scale(1.2)
}

.stat-dialog {
  position: fixed;
  width: 530px;
  height: 220px;
  padding: 18px;
  border: var(--color-light-gray) 1px solid;
  border-radius: 10px;
  overflow-y: clip;
}

.stat-title {
  font-size: 32px;
  margin-bottom: 16px;
}

.stats-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 26px;
}

.stats-item {
  width: 230px;
  height: 110px;
  padding: 12px 16px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--color-dark-gray);
}

.stats-title {
  font-size: 24px;
}

.stats-value {
  font-size: 40px;
  font-weight: var(--font-weight-accent);
}

.close-dialog-button {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 20px;
  height: 20px;
  padding: 0;
  color: var(--color-dark-gray);
  background-color: transparent;
  border: none;
}

.close-dialog-button:hover {
  color: var(--color-dark-blue);
}












@media (max-width: 1500px) {
  .container {
    padding-inline: 70px;
  }

  .about {
    padding-top: 30px;
  }

  .post-item-inner-wrapper {
    padding: 40px 30px;
  }

  .blogs {
    padding-top: 80px;
  }
}

@media (max-width: 1280px) {
  .hobby {
    grid-template-columns: repeat(2, 267px);
    grid-template-rows: repeat(2, 70px) repeat(4, 264px);
    grid-template-areas: 
      "title title"
      "description description"
      "vertical-1 vertical-2"
      "vertical-1 vertical-2"
      "horizontal-1 horizontal-1"
      "horizontal-2 horizontal-2";
  }

  .hobby-title {
    text-align: center;
  }

  .blog-big-description:not(:last-child) {
    margin-bottom: 8px;
  }

  .image-wrapper.blog-text-circle {
    width: 130px;
    bottom: 92%;
  }

  .blogs-description:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding-inline: 40px;
  }

  .about {
    flex-direction: column;
    row-gap: 20px;
  }

  .about-inner {
    align-self: flex-start;
  }

  .about-image-wrapper {
    height: 100%;
    width: auto;
    align-self: flex-end;
  }

  .about-image {
    height: 100%;
  }

  .image-wrapper {
    left: -50%;
  }

  .post-item-image {
    display: none;
  }

  .post-item-inner {
    width: 100%;
    flex: none;
  }

  .skills-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .work-list {
    row-gap: 50px;
  }

  .work-list-item::after {
    bottom: -15%;
  }

  .footer-content {
    flex-direction: column-reverse;
    row-gap: 50px;
  }

  .footer-title {
    line-height: 1.2;
    font-size: 48px;
  }

  .blogs {
    padding-top: 40px;
  }

  .blogs-card-list {
    row-gap: 30px;
  }

  .blogs-card-item-description:not(:last-child) {
    margin-bottom: 10px;
  }

  .blogs-card-item:first-child .blogs-card-item-image {
    max-width: 300px;
  }

  .blogs-card-item:first-child .blogs-card-item-text {
    padding: 8px 12px;
  }

  .blogs-card-item:first-child .blogs-card-item-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media (max-width: 800px) {
  :root {
    --header-padding-top: 15px;
  }

  .container {
    padding-inline: 20px;
  }

  .about {
    padding-top: 50px;
  }

  .about-inner {
    max-width: 100%;
  }

  .about-description {
    max-width: 100%;
  }

  .image-wrapper {
    left: -30%;
  }

  .posts {
    padding-top: 50px;
  }

  .skills {
    padding-top: 50px;
  }

  .skills-title {
    text-align: center;
  }

  .skills-title:not(:last-child) {
    margin-bottom: 20px;
  }

  .skills-list {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .skills-list-item {
    width: 250px;
    text-align: center;
  }

  .work {
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    max-height: none;
    padding-top: 90px;
  }

  .hobby {
    padding-top: 100px;
  }

  .blogs-description:not(:last-child) {
    margin-bottom: 10px;
  }

  .blogs-card-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogs-card-item:first-child {
    grid-column: span 2;
  }  

  .blogs-card-item:first-child .blogs-card-item-description {
    display: none;
  }
}

@media (max-width: 600px) {
  .about-image-wrapper {
    align-self: center;
  }

  .image-wrapper {
    display: none;
  }

  .hobby {
    display: flex;
    flex-direction: column;
  }

  .hobby-vertical-image-1-wrapper {
    width: 268px;
    height: 552px;
  }

  .hobby-vertical-image-2 {
    width: 268px;
    height: 552px;
    align-self: flex-end;
  }

  .hobby-horizontal-image-1 {
    display: none;
  }

  .hobby-horizontal-image-2 {
    display: none;
  }

  .blogs-card-list {
    grid-template-columns: 1fr;
  }

  .blogs-card-item:first-child {
    grid-column: 1;
    flex-direction: column;
    background-color: transparent;
  }

  .blogs-card-item:first-child .blogs-card-item-image {
    max-width: 100%;
  }

  .blogs-card-item:first-child .blogs-card-item-title {
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .blogs-card-item:first-child .blogs-card-item-description {
    display: block;
  }

  .blogs-card-item:first-child .blogs-card-item-text {
    padding: 0;
  }
}