<section class="about container" id="about">
    <div class="about-inner">
        <h1 class="about-title title">Hello! I’m Nelsom, a photographer</h1>
        <p class="about-description">
            Occaecat elit pariatur non Lorem laborum proident Lorem non sint nostrud. 
            Et dolore incididunt mollit nostrud Lorem dolore. 
            Qui aliquip aute amet eu adipisicing velit ullamco nulla sint enim do quis aute
        </p>
        <a
            class="about-more-button"
            href="blog">
            More about me
        </a>
    </div>
    <div class="about-image-wrapper">
        <img
            class="about-image"
            src="assets/images/mountains.jpg" 
            alt="Landscape with mountains."
            loading="eager"
        />
        <a
            class="image-wrapper"
            href="blog">
            <img
                class="about-circle text-circle"
                src="assets/icons/text-circle.svg" 
                alt=""
                loading="lazy"
            />
        </a>
    </div> 
</section>