<header class="header container">
    <div class="header-logo">
        <a
            class="header-logo-link"
            href="">
            Name-folio
        </a>
    </div>
    <nav class="header-navigation">
        <ul class="navigation-list">
            <li class="navigation-item">
                <a
                    class="navigation-item-link"
                    routerLink="home"
                    routerLinkActive="active">
                    About me
                </a>
            </li>
            <li class="navigation-item">
                <a
                    class="navigation-item-link"
                    routerLink="blog"
                    routerLinkActive="active">
                    Blog
                </a>
            </li>
            <li class="navigation-item">
                <a
                    class="navigation-item-link"
                    [routerLink]=[]
                    fragment="contacts">
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</header>