<section class="blogs container" id="blogs">
    <h1 class="blogs-title">My blogs</h1>
    <p class="blogs-description">
        Lorem occaecat proident excepteur commodo et nulla eiusmod. 
        Elit esse aute officia dolor elit aute
    </p>
    
    <ul class="blogs-card-list">
        @for(blog of currentPageBlogs(); track blog.id) {
            <li 
                app-blog-card 
                [card]="blog"
                (openEdit)="onOpenEdit($event)"
            ></li>
        } @empty {
            <div class="blogs-card-list__empty">Нет статей</div>
        }
    </ul>

    @if(blogsCount(); as count) {
        @if(count > 7) {
            <div class="blogs-pagination">
                @for(page of pages(); track page) {
                    <span 
                        class="pagination-item"
                        [class.is-active]="page === currentPage()"
                        (click)="setCurrentPage(page)">
                    </span>
                }
            </div>

            @if(currentPage() === 1) {
                <button 
                    class="blogs-button" 
                    (click)="setCurrentPage(currentPage() + 1)"
                >
                    Next
                </button>
            } @else if (currentPage() === totalPages()) {
                <button 
                    class="navigation-button-previous"
                    (click)="setCurrentPage(currentPage() - 1)"
                >
                    Back
                </button>
            } @else {
                <div class="navigation-buttons-wrapper">
                    <button 
                        class="navigation-button-left"
                        (click)="setCurrentPage(currentPage() - 1)"
                    >
                    </button>

                    <button 
                        class="navigation-button-right"
                        (click)="setCurrentPage(currentPage() + 1)"
                    >
                    </button>
                </div>
            }
        }
    }
</section>