.admin-panel {
  position: fixed;
  right: 0;
  top: 70%;
  width: 50px;
  height: 110px;
  padding: 20px 10px;
  border-radius: 20px 0 0 20px;
  box-shadow: 0px 5px 10px rgba(57, 53, 53, 0.3);
  background-color: #FFF;
}

.admin-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 20px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--color-green);

    &:hover .button-svg {
      transform: scale(1.2)
    }
  }
}

.button-svg {
  transition-duration: var(--transition-duration);
}
