<section class="hobby container">
    <h1 class="hobby-title">Hobby projects</h1>
    <div class="hobby-description">
        <p>
            Duis nisi do exercitation in irure aliqua commodo nisi eu id 
            reprehenderit dolore fugiat consectetur irure labore est ea.
        </p>
    </div>
    <div class="hobby-vertical-image-1-wrapper">
        <img
            class="hobby-vertical-image-1"
            src="assets/images/hobby_section/1.jpg" 
            alt="Girl with red hair."
            loading="lazy"
        />
        <div class="hobby-image-text-container">
            <h2 class="hobby-image-title">
                Hobby project name
            </h2>
            <div class="hobby-image-description">
                Duis nisi do exercitation in irure aliqua commodo nisi 
                eu id reprehenderit dolore fugiat consectetur irure labore est ea.
            </div>
        </div>
    </div>
    <img
        class="hobby-vertical-image-2"
        src="assets/images/hobby_section/2.jpg" 
        alt="Paraphernalia."
        loading="lazy"
    />
    <img
        class="hobby-horizontal-image-1"
        src="assets/images/hobby_section/small-non-image.jpg" 
        alt=""
        loading="lazy"
    />
    <img
        class="hobby-horizontal-image-2"
        src="assets/images/hobby_section/small-non-image.jpg" 
        alt=""
        loading="lazy"
    />
</section>