<div class="comments-wrapper">
    <h4 class="comments-title">Комментарии</h4>
    @for(comment of comments(); track comment.id) {
        <mat-card class="comments-item">
            <div class="comments-inner">
                <p class="comments-item-author"> {{ comment.author }} </p>
                <p class="comments-item-text"> {{ comment.text }} </p>
            </div>
            <time class="comments-item-datetime" datetime="2025-10-16"> {{ comment.datetime }} </time>
            <div class="comments-item-rating">
                <button mat-icon-button class="comments-rating-button" (click)="onChangeRating('decrement', comment.id)">
                    <mat-icon>remove</mat-icon>   
                </button>
                <div class="comments-rating-value"> {{ comment.rating }} </div>
                <button mat-icon-button class="comments-rating-button" (click)="onChangeRating('increment', comment.id)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </mat-card>
    }
</div>