:host {
  position: relative;
  min-width: 0;
  display: block;
}

.blogs-card-item {
  &-image {
    width: 100%;
    aspect-ratio: 368 / 200;
  }

  &-text {
    padding-inline: 5px;
  }

  &-title {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 20px;
  }

  &-description {
    margin-bottom: 10px;
  }
}

:host:not(:first-child) .blogs-card-item-description {
  display: none;
}

:host:first-child {
  display: flex;
  flex-direction: row;
  grid-column: span 3;
  background-color: #FAFAFA;
  width: 100%;

  .blogs-card-item-text {
    padding: 16px 24px;
    max-width: 350px;
  }

  .blogs-card-item-title {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .blogs-card-item-image {
    max-width: 800px;
  }
}

@mixin blog-button {
  display: none;
  border: none;
  background-color: transparent;                                                                                                               
  color: var(--color-dark-blue);

  .mat-icon {
    width: 20px;
    aspect-ratio: 1;
  }
                                                                                                                                                
  &:hover {                                                                                                                                  
    transform: scale(1.1);
  }
}

.blogs-card-list-button-wrapper {                                                                                                              
  position: absolute;
  top: 15px;                                                                                                                                   
  right: 10px;                                                                                                                               
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}                                                                                                                                              
  
.delete-blog-button {                                                                                                                          
  @include blog-button;                                                                                                                      
}

.edit-blog-button {
  @include blog-button;

  &:hover {
    cursor: pointer;
  }
}
                                                                                                                                                
:host:hover {
  .delete-blog-button,                                                                                                                         
  .edit-blog-button {                                                                                                                        
    display: block;
  }
}




@media (max-width: 1024px) {
  .blogs-card-item-description:not(:last-child) {
    margin-bottom: 10px;
  }                                                                                                                                       

  :host:first-child {
    .blogs-card-item-image {
      max-width: 300px;                                                                                                                        
    }
    .blogs-card-item-text {                                                                                                                    
      padding: 8px 12px;                                                                                                                     
    }
    .blogs-card-item-title {
      font-size: 24px;
      margin-bottom: 10px;                                                                                                                     
    }
  }
}

@media (max-width: 800px) {
    :host:first-child {
      grid-column: span 2;                                                                                                                       
                    
    .blogs-card-item-description {                                                                                                             
      display: none;                                                                                                                           
    }                                                                                                                                          
  }                                                                                                                                            
}                                                                                                                                              

@media (max-width: 600px) {
  :host:first-child {
    grid-column: 1;
    flex-direction: column;
    background-color: transparent;                                                                                                             
  
    .blogs-card-item-image {                                                                                                                   
      max-width: 100%;                                                                                                                       
    }

    .blogs-card-item-title {
      font-size: 32px;
      margin-bottom: 20px;                                                                                                                     
      margin-top: 5px;
    }                                                                                                                                          
                                                                                                                                              
    .blogs-card-item-description {
      display: block;
    }

    .blogs-card-item-text {                                                                                                                    
      padding: 0;
    }                                                                                                                                          
  }                                                                                                                                          
}