<img 
    class="blogs-card-item-image"
    [src]="imgSrc()" 
    alt="blog image"
/>
<div class="blogs-card-item-text">
    <p class="blogs-card-item-title">
        {{ cardTitle() }}
    </p>
    <p class="blogs-card-item-description">
        {{ cardText() }}
    </p>
    <time class="blogs-card-item-date" datetime="2025-10-16">Oct 16, 2025</time>
</div>
<div class="blogs-card-list-button-wrapper">
    <button class="delete-blog-button" type="button" title="Удалить статью" (click)="onDelete($event, card())">
        <mat-icon svgIcon="deleteArticle"></mat-icon>
    </button>
    <button class="edit-blog-button" type="button" title="Редактировать статью" (click)="onEdit($event, card())">
        <mat-icon svgIcon="editArticle"></mat-icon>
    </button>
</div>