<section class="separate-blog-page container">
    
    @if(loading()) {
        <div class="loader">                                                                                                                         
            <div class="loader__spinner"></div>                                                                                                        
        </div> 
    } @else if(blog(); as post) {
        <div class="article-wrapper">
            <img 
                class="article-image"
                [src]="imgSrc()"
                alt="blog image"
            />
            <div class="article-inner">
                <p class="article-title">
                    {{ post.title }}
                </p>
                <p class="article-description">
                    {{ post.content }}
                </p>
                <time class="article-datetime" datetime="2025-10-16">Oct 16, 2025</time>
            </div>
            <div class="article-rating">
                <button mat-icon-button class="article-rating-button" (click)="onChangeRating('decrement')">
                    <mat-icon>remove</mat-icon>
                </button>
                <div class="article-rating-value"> {{ post.rating }} </div>
                <button mat-icon-button class="article-rating-button" (click)="onChangeRating('increment')">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <app-blog-comments 
            [comments]="comments()"
        />
        <app-add-blog-comment 
            [blog]="post"
        />
    } @else {
        <p>Статья не найдена</p>
    }
</section>